<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Specify app.js as the handler for iisnode -->
    <handlers>
      <remove name="iisnode" />
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^app.js\/debug[\/]?" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Exclude node_modules and hidden folders from being served -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".git" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <iisnode 
      devErrorsEnabled="true" 
      nodeProcessCommandLine="node" 
      loggingEnabled="true"
      watchedFiles="web.config;*.js;dist\*.cjs"
    >
      <environmentVariables>
        <add name="NODE_ENV" value="production" />
      </environmentVariables>
    </iisnode>
  </system.webServer>
</configuration>
